<%= form_with(model: recipe, local: true) do |f| %>
<div class="form-check form-switch">
    <%= f.label :public, class:"form-check-label"%>
     <%= f.check_box :public, class: "sr-only peer form-check-input", onchange: "this.form.requestSubmit();" %>
</div>
<% end %>
