<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement Unit</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% list.each do |item| %>
      <tr>
        <td><%= item.name%></td>
        <td><%= item.measurement_unit%></td>
        <td>$<%= item.price%></td>
        <th scope="row">
        <%= link_to "Delete", food_path(item.id), method: :delete %>
        </th>
      </tr>
    <%end%>
  </tbody>
</table>
