<% flash.each do |type, msg| %>
<br/>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </div>
<% end %>
<br/>
<br/>
